#displaced-form-grid {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

select {
    display: block;
    margin-block-start: 0.5rem;
    padding: 0.5rem;
}

@media (max-width: 480px) {
    #displaced-form-grid {
        grid-template-columns: 1fr;
        gap: 1em;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #displaced-form-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}