#displaced-page-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#add-displaced-dialog {
    width: 80%;
    border-width: 0;
    border-radius: 0.75rem;
}

.control > .select {
    justify-items: start;
}

.ag-cell {
    text-align: left;
}

.notice {
    background-color: goldenrod;
}
