<section>
    <div id='hero' class='overlay'>
        <div id='title'>
          <h1>Swift Relief Foundation</h1>
          <p id="subtitle">Maiduguri Flood Victims Data Capture</p>
          <div class='button-links'>
            <span id="stats-link-button" class='button-link'><a href="#stats-section">View the Statistics</a></span>
            <span id="project-link-button" class='button-link'><a routerLink to="/about">Learn About the Project</a></span>
          </div>
        </div>
    </div>
</section>

<div class="container">
    <main>
        <section id='stats-section'>
            <h2 class='section-title'>Statistics</h2>
                
                @if(displacedPersonsService.displacedDataLoading$ | async ) {
                    <p id="loading-text">Calculating...</p>
                }

                @let stats = displacedPersonsService.stats$ | async;
                @if(stats) {
                    <div id='data-container' class='container'>
                    <stat-card [title]="'Total Number of Displaced Persons'" [stats]="stats['totalDisplacedCount']"/>
                      <stat-card [title]="'Children'" [stats]="stats['numberOfChildren']"/>
                      <stat-card [title]="'Women and girls'" [stats]="stats['totalFemalesCount']">
                    </stat-card>
                    <stat-card [title]="'Widows'" [stats]="stats['numberOfWidows']">
                    </stat-card>
                    <stat-card [title]="'Divorcees'" [stats]="stats['numberOfDivorcees']">
                    </stat-card>
                </div> 
                }   
                
                
        </section>
    </main>
</div>