<div class="container">
    <h2>Sign up</h2>
    @if(errorMessage) {
        <div class="error-panel">
            <p>An error occurred during sign up. Error message: <span class="error-message">{{errorMessage}}</span></p>
        </div>
    }
    @if(actionSuccessful) {
        <div class="success-panel">
            <p>Your account has been created successfully. Please check your email to verify your account.</p>
        </div>
    }
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form__container">
            <div>
                <label for="email">Email</label><span class="required">*</span>
                <input id="email" type="email" placeholder="Your email" formControlName="email"  
                [class.invalid]="validationService.checkValidity('email', form)"/>
                @if(validationService.checkValidity('email', form)) {
                    <span class="error-message">Enter a valid email address</span>
                }
            </div>
            <div>
                <label for="name">Full name</label><span class="required">*</span>
                <input id="name" type="text" placeholder="Your full name" formControlName="name"
                [class.invalid]="validationService.checkValidity('name', form)"/>
                @if(validationService.checkValidity('name', form)) {
                    <span class="error-message">The name must be at least 3 characters</span>
                }
            </div>
            <div>
                <label for="password">Password</label><span class="required">*</span>
                <input id="password" type="password" placeholder="Your password" formControlName="password"
                [class.invalid]="validationService.checkValidity('password', form)"/>
                @if(validationService.checkValidity('password', form)) {
                    <span class="error-message">The password must be at least 8 characters long</span>
                }
            </div>
            <div>
                <label for="repeatPassword">Repeat password</label><span class="required">*</span>
                <input id="repeatPassword" type="password" placeholder="Repeat your password" formControlName="repeatPassword"
                [class.invalid]="validationService.checkValidity('repeatPassword', form)"/>
                @if(validationService.checkValidity('repeatPassword', form)) {
                    <span class="error-message">The passwords do not match</span>
                }
            </div>
            <div>
                <button [disabled]="form.invalid  || authService.isSubmitting()" class="button submit__button" type="submit">
                    @if(form.invalid || (form.valid && !authService.isSubmitting())) {
                        Sign up
                    } @else {
                        Submitting...
                    }      
                </button>
            </div>
        </div>
    </form>
</div>