<div class="container">
    <h2>Sign up</h2>
    @if(errorMessage) {
        <div class="error-message">{{ errorMessage }}</div>
    }
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form__container">
            <div>
                <label for="email">Email</label>
                <input type="email" placeholder="Your email" formControlName="email">
            </div>
            <div>
                <label for="name">Full name</label>
                <input id="name" type="text" placeholder="Your full name" formControlName="name"
                [class.invalid]="checkValidity('name')"/>
                @if(checkValidity('name')) {
                    <span class="error-message">This field is required</span>
                }
            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Your password" formControlName="password">
            </div>
            <div>
                <label for="repeatPassword">Repeat password</label>
                <input id="repeatPassword" type="password" placeholder="Repeat your password" formControlName="repeatPassword">
            </div>
            <div>
                <button class="button submit__button" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>