body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
  max-width: 1100px;
}
/* Forms */

form {
  margin: 0 auto;
  width: 100%;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

label {
  text-align: left;
}

input {
  display: block;
  text-align: left;
  margin-block-start: 0.5rem;
  margin-block-end: 0.75rem;
  width: 80%;
  padding: 0.5rem;
}

.button, input[type="submit"] {
  border-width: 0;
  border-radius: 1rem;
  padding: 0.5em 0.75em;
  margin-bottom: 1rem;
  font-size: 1.15rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.submit__button {
  background-color: #4bd850;
}

#add__button {
  background-color: #a5c35a;
}

.danger__button {
  background-color: red;
}

.error-message {
  color: red;
  font-weight: 400;
  font-size: small;
}

input.ng-invalid.ng-touched {
  border: red 1px solid;
  border-radius: 0.25rem;
}