body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #1c811c;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
  max-width: 1100px;
}
/* Forms */

form {
  margin: 0 auto;
  width: 100%;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

label {
  text-align: left;
}

input {
  display: block;
  text-align: left;
  margin-block-start: 0.5rem;
  margin-block-end: 0.15rem;
  width: 80%;
  padding: 0.5rem;
}

.button, input[type="submit"] {
  border-width: 0;
  border-radius: 1rem;
  padding: 0.5em 0.75em;
  margin-bottom: 1rem;
  font-size: 1.15rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.submit__button {
  background-color: #4bd850;
}

.submit__button:hover {
  background-color: #329135;
  transform: translateY(-2px);
}

.submit__button:disabled {
  opacity: 0.7;
}

.add__button {
  background-color: #a5c35a;
}

.add__button:hover {
  opacity: 0.8;
}

.danger__button {
  background-color: #ff4141;
}

.error-message {
  color: #7e0606;
  font-weight: 400;
  font-size: small;
}

input.ng-invalid.ng-touched {
  border: red 1px solid;
  border-radius: 0.25rem;
}

.required {
  font-size: small;
  color: #b90000;
  margin-inline-start: 5px;
}

.error-panel {
  background-color: #ffb3b3;
  border: red 1px solid;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-block-end: 1rem;
}

.error-panel p {
  color: rgba(0, 0, 0, 0.8);
}

.success-panel {
  background-color: #b3ffb3;
  border: #4bd850 1px solid;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-block-end: 1rem;
}